/* ******************
*Header Section / here avialable menu bar
********************* */
@media (max-width:991px) {
    #togglebtn {
        display: block;
    }

    #header .navbar {

        padding: 20px 9%;
        position: absolute;
        top: 100%;
        background: var(--light-white);
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
        border-top: var(--border);
        border-bottom: var(--border);
        display: none;
        transition: 0.3s;
    }

    #toggle:checked~.navbar {
        display: block;
    }

    #header .navbar li {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
    }

    #header .navbar li a {
        width: -webkit-fill-available;
        text-align: left;
        display: inline-block;
        padding: 10px 15px;


    }

    #header .navbar li a:hover {
        color: var(--white);
        background: var(--green);
    }
}

@media (max-width:450px) {
    #header a.btn {
        display: none;
    }
}



/* *************
* Servics section
****************************************** */
@media (max-width:981px) {
    #servics .box-container {
        grid-template-columns: auto auto;
    }

}

@media (max-width:768px) {
    #servics .box-container {
        grid-template-columns: auto;
    }

}


/* *************
* work process section
****************************************** */
@media (max-width:981px) {
    #work .box-container {
        grid-template-columns: auto auto;
    }

}

@media (max-width:768px) {
    #work .box-container {
        grid-template-columns: auto;
    }

}