/******************************************
* quick details item and count
******************************************** */
.border-4 {
    border-width: 8px;
}

.border-start {
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
}

.card-raised {
    margin-bottom: 5px;
}



/***********************************
* suscribe and plan 
****************************************/
/* lisence */


.feture_short {
    margin-top: 123px;
}

.feture {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    background: #eee;
    border: 1px solid #eee;
    padding: 12px 15px;
}

.feture:nth-child(even) {
    background: #fff;
}

.feture i {
    cursor: help;
    position: relative;
}

.feture i::after {
    position: absolute;
    content: attr(data-tooltip);
    bottom: 100%;
    right: 0;
    background: white;
    color: black;
    width: 250px;
    /* min-height: 150px; */
    border: 1px solid #6b6b6b;
    padding: 10px;
    display: none;
    border-radius: 5px;
    font-style: normal;
    text-align: center;
}

.feture i:hover::after {
    display: block;
}

.feture p {
    margin: 0;
}



/* feture card */
.fetures_card {
    border: 1px solid #fff;
    background: #fff;
}

.fetures_card .title {
    padding: 10px 15px;
    font-size: 22px;
    background: #eee;
    text-align: center;
    color: #000;
}

.fetures_card .price {
    padding: 0 15px;
    /* margin: 5px 0; */
    text-align: center;
    background: #fff;
}

.fetures_card .price span {
    font-size: 18px;
    color: #6b6b6b;
}

.fetures_card .price p {
    font-size: 27px;
    color: #000;
    margin: 0;
}

.fetures_card .price p span {
    font-size: 18px;
}

.fetures_card ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.fetures_card ul li {
    background: #eee;
    padding: 10px;
    text-align: center;
}

.fetures_card ul li:nth-child(even) {
    background: #fff;
}

.fetures_card ul li i {
    font-size: 22px;
    color: var(--green);
}

.fetures_card ul li i.bi-x {
    color: var(--red);
}

.fetures_card ul li p {
    margin: 0;
    padding: 0;
}

.fetures_card .plan {
    padding: 10px;
}

.fetures_card .plan a {
    color: white;
    border: 1px solid #eee;
    background: var(--green);
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;

}

.fetures_card .plan a.buy {
    background: var(--blue);
}

/* *********************************
* suscription plan payment
*********************************** */
#suscription_plan_payment .plan_info label {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    user-select: none;
    background: unset !important;
    -moz-user-select: none;
}




#suscription_plan_payment .plan_info label p span {
    color: var(--green);
    font-size: 20px;
    font-weight: 700;
    margin: 0 7px 0 0;
}

#suscription_plan_payment.plan_info label span {
    color: #6b6b6b;
}

#suscription_plan_payment .plan_info input {
    position: relative;
}

#suscription_plan_payment .plan_info label p {
    margin: 0;
    padding: 0;
}

#suscription_plan_payment #payment_info .payment_number {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    border: 2px solid var(--green);
    color: #000;
    font-size: 20px;
}

#suscription_plan_payment #payment_info .payment_number img {
    height: 20px;
}

#suscription_plan_payment #payment_info .input-group label {
    width: auto;
    user-select: none;
    -moz-user-select: none;
    cursor: pointer;

}





/* color mode */
/* Light mode */
/* @media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
} */

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
} */