@media (max-width:991px) {
    .hero .heading {
        font-size: 36px;
        margin: auto;
        text-align: center;
    }

    .hero form {
        max-width: 80%;
        margin: auto;
    }

    .premium .container .row {
        padding: 15px;
    }

    .student::after,
    .student::before {
        top: 80%;
    }
}