/* primary style */

.heading {
    display: block;
    flex: 0 0 100%;
    font-size: 30px;
}

.section-title {

    display: block;
    margin: 0px 0 30px 0;
    flex: 1 1 100%;
}

.section-title h2 {
    position: relative;
    text-align: center;
}

.section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 240px;
    height: 3px;
    background: #ddd;
    bottom: -10px;
    left: calc(50% - 120px);
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    background: var(--green);
    bottom: -10px;
    left: calc(50% - 60px);
}

/* **************************
* Sidebar
***************************/
.active {
    background: var(--green);


}

.active i,
.active a {
    color: #fff !important;
}

.input-group-text {
    width: 150px;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
}



/* google translate */
#google_translate_element select {
    border-radius: 10px;
    border: none;
    outline: none;
}

.skiptranslate iframe {
    display: none;

}

#google_translate_element span {
    display: none;
}